body 
{
    background-color: #2d5392;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* makes the body take up the full viewport height */
    margin: 0; 

    background-image: url('ucsd.jpeg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Makes the background stay fixed while scrolling */
    background-position: center; /* Centers the image */
    font-family: 'Roboto', 'Changa', sans-serif; /* Ensures your font styles remain applied */
    margin: 0;
    padding: 0;
}

.start-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4784ac;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: 'Poppins';
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #2a3c64;
}
h1{
    color: white;
    margin-bottom: 20px;
    font-size: 50px;

}

p{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

main {
   display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    flex: 1;
    padding-top: 0%;
}

.colleges-container {
    width: 600px;
    margin: 20px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5); /* Slightly transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer .footer {
    color: white;
    font-size: 20px !important;
}
.start-button
{
    position: auto;
    padding: 20px;
    background-color: #4784ac;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 50px;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 10%;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.start-button:hover {
    background-color: #2a3c64;
}